@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@300;500&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
 

}
.c1{
    background-color: rgb(1, 228, 228);
    padding: 130px;
    justify-content: center;
    margin: auto;
    width: 300px;
    border-radius: 40px;
    border-style:groove;
}
.p1{
    justify-content: center;
    display: flex;
}
.p2{
    justify-content: center;
    display: flex;
}
.p3{
    justify-content: center;
    display: flex;
}
.p4{
    justify-content: center;
    display: flex;
}
.p5{
    justify-content: center;
    display: flex;
}
